<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MateuszMesek\DocumentEavApi\AttributeReturnTypeResolverInterface" type="MateuszMesek\DocumentEav\AttributeReturnTypeResolver"/>
    <preference for="MateuszMesek\DocumentEavApi\AttributeValidatorInterface" type="MateuszMesek\DocumentEav\AttributeValidator"/>
</config>
